.footer{
    background-color: #f8f8f8;
    .footer__logo{
        .footer__logo__text{
            h6{
                font-weight: 700;
            }
        }
        .footer__logo__links{
            i{
                color: $icon-color;
            }    
        }
        .footer__logo__form{
           button{
            background: #95e1d3;
            border: 0px solid #95e1d3;
            color: #fff;
            margin-left: -5px;
            height: 38px;
            outline: none;
            line-height: 23px;
            width: 35%;
           }
        }
    }
    .footer__blog{
        .footer__blog__text{
            .par{
                font-weight: 800;
            }
        }
    }
}